<div id="map" class="match-parent" style='width: 60em; height: 60em; border-radius: 40px; margin-bottom: 10em;'></div>
<!--<script src="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js"></script>-->



<!--    <script src='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.js'></script>-->
<!--    <link href='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.css' rel='stylesheet' />-->


