<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <form #form="ngForm">
        <div class="col-xs-12">
          <div class="form-group">
            <select aria-label="Default select example" class="form-select form-select-lg mb-3" id="cityStart"
                    name="cityStart" ngModel required>
              <!--          <option ng-options="sd">Select a starting point </option>-->
              <option *ngFor="let city of cities; let i = index" [value]="city">{{ i }}- {{ city }}</option>
            </select>
            <div *ngIf="errorMessage != null" class="alert alert-danger" role="alert">
              {{ errorMessage }}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <button (click)="onValidated(form)" [disabled]="!form.valid || isLoading" class="btn btn-primary"
                      type="submit" disabled>
                <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status"
                      aria-hidden="true"></span>
                {{ isLoading ? "Loading..." : "Send" }}
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container mt-3">
  <div class="row">
    <div *ngIf="path.length > 0" class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          <h2>Best result</h2>
        </div>
        <ul class="list-group list-group-flush">
          <li *ngFor="let city of path; let i = index;" class="list-group-item">{{ i }}- {{ city }}</li>
        </ul>
      </div>
    </div>
    <div class="col">
      <map-app></map-app>
    </div>
  </div>
</div>

